body{
  font-family: 'Krona One', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #737373;
  border: 0;
  margin:0;
}
.container{
  margin: auto;
  width: 80%;
  overflow: hidden;
}
header{
  width: 100%;
  position: fixed;
  background-color:#1e90ff;
  height: 7vh;
}
header h2{
  float: left;
  color: white;
  font-size: 3em;
  margin-left: 30%;
  margin-top: 0;
}
header h3{
  margin-top: 2%;
  font-size: 1.5em;
  position: relative;
  left: 15%;
}
header h3 a{
  text-decoration: none;
  color: white;
  padding: 1vh 2vh 1vh 2vh;
}
header a:hover{
  background-color: #0073e6;
}
header img{
  position: relative;
  bottom: 60px;
  right: 50px;
  float: right;
}
#nav{
  border-top: #ffb366 solid 1vh;
  border-bottom:#ffb366 solid 1vh;
  width: 100%;
  margin-top: 7vh;
  position: fixed;
  background-color: #1e90ff;
}
#nav button{
  color: white;
  font-size: 1em;
  padding: 1vh 1vh 1vh 1vh;
  background-color: #1e90ff;
  float: left;
  border: none;
  margin: .1vh;
}
#nav button:hover{
  background-color: #0073e6;
}
#search input{
  margin-left: 24vw;
  margin-top: 1vh;
  height: 3vh;
  float: left;
}
#search  button{
  float:right;
}
#name h2{
  margin-top: 25vh;
  margin-left: 2vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  color: white;
  border-top: solid 2px white;
  border-bottom:solid 2px white;
}
#name1 h2{
  margin-top: 10vh;
  margin-left: 2vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  color: white;
  border-top: solid 2px white;
  border-bottom:solid 2px white;
}
/*----------------------------------------------------------------------------*/
#courses a{
  text-decoration: none;
}
.box{
  margin-left: 4vw;
  float: left;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 25%;
  height: 50vh;
  background-color: #1e90ff;
}
.box ul{
  color: white;
}
#head{
  padding-top: 2vh;
  padding-bottom:1vh;
  background-color:#ffb366;
}

#head h2{
  text-align: center;
  font-size: 2em;
  color: white;
}
#bottom{
  margin-top: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #ffb366;
}
#bottom h2{
  float:left;
  color: white;
  margin-left: 1vw;
}
#bottom h1{
  font-size: 2em;
  text-align: center;
  color: white;
}
